// .section.quote{
//     display: block;
//     .qoute-text{
//         font-size: 1.2em;
//         line-height: 1.3;
//         color: var(--text-color);
//         svg{
//             color: var(--primary-color);
//             font-size: 1.5em;
//             margin-right: .5em;
//         }
//     }
//     .qoute-auther{
//         color: var(--text-light);
//         text-align: right;
//         margin-top: 1em;
//     }
// }

.section.quote{
    display: block;
    background: var(--background-light);
    padding: 2rem 2.5rem;
    border-left: 5px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.section.quote .qoute-text{
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
}

.section.quote .qoute-text svg{
    color: var(--primary-color);
    font-size: 2rem;
    margin-right: .6rem;
    vertical-align: middle;
}

.section.quote .qoute-auther{
    color: var(--text-light);
    text-align: right;
    margin-top: 1rem;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}
